body {
  width: 93%;
  height: 93%;
  display: flex;
  flex-direction: column;
  background-color: ivory;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.first {
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: lightblue;
  color: mediumvioletred;
  opacity: 0.9;
  border-radius: 20px;
  margin-bottom: 15px;
}
.position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  opacity: 0.9;
}
.hr {
  color: indigo;
}
